<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                <h4>Modificar Concentrado</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/producto/guardar}" th:object="${producto}" method="POST" enctype="multipart/form-data">
                    
                    <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                    
                    <input type="hidden" name="fichaTecnica" th:field="*{fichaTecnica}"/>

                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" name="nombre" th:field="*{nombre}" class="form-control" required/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Marca</label>
                        <input type="text" name="marca" th:field="*{marca}" class="form-control" placeholder="Ej: Mimados, Aguilar..."/>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Especie</label>
                        <select name="especie" th:field="*{especie}" class="form-select">
                            <option value="Perros">Perros</option>
                            <option value="Gatos">Gatos</option>
                            <option value="Pollos">Pollos</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Unidad de Medida</label>
                        <select name="unidadMedida" th:field="*{unidadMedida}" class="form-select">
                            <option value="Saco">Saco</option>
                            <option value="Kilo">Kilo</option>
                            <option value="Unidad">Unidad</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Precio (₡)</label>
                        <input type="number" name="precio" th:field="*{precio}" class="form-control" step="0.01" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Existencias</label>
                        <input type="number" name="existencias" th:field="*{existencias}" class="form-control" required/>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-bold">Número de Lote</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                <input type="text" th:field="*{lote}" class="form-control" placeholder="Ej: L-2024-01"/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-bold">Fecha de Vencimiento</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                <input type="date" th:field="*{fechaVencimiento}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                   

                    <div class="mb-4">
                        <label for="archivoFicha" class="form-label fw-bold">Actualizar Ficha Técnica</label>
                        <input class="form-control" type="file" name="archivoFicha" id="archivoFicha">
                        <div th:if="${producto.fichaTecnica != null}" class="form-text text-primary">
                            Ficha actual: <span th:text="${producto.fichaTecnica}"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a th:href="@{/producto/listado}" class="btn btn-secondary">Regresar</a>
                        <button type="submit" class="btn btn-success">Actualizar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
